[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = UA
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Lviv
localityName                = Locality Name (eg, city)
localityName_default        = Lviv
organizationName            = Organization Name (eg, company)
organizationName_default    = MentalHealthCare
organizationalUnitName      = Organizational Unit Name (eg, section)
commonName                  = Common Name (e.g. server FQDN or YOUR name)
commonName_default          = localhost
emailAddress                = Email Address
emailAddress_default        = maxkord2003@gmail.com

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = localhost
IP.1    = 127.0.0.1
