<div id="login-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close-login">&times;</button> <!-- Close button -->
        <h2>Welcome back!</h2>

        <div id="login-message" class="login-message"></div>

        <label for="login-username">Email</label>
        <input type="text" id="login-username" placeholder="Email" required>

        <label for="login-password">Password</label>
        <input type="password" id="login-password" placeholder="Password" required>

        <button class="btn-login" id="btn-login">Login</button>

        <p class="signup-text">Don't have an account? <a href="#" id="switch-to-signup">Sign up</a></p>
    </div>
</div>
