<div id="signup-modal" class="modal">
    <div class="modal-content">
        <button class="modal-close">&times;</button> <!-- Close button -->
        <h2>Create an Account</h2>
        <label for="name">Name*</label>
        <input type="text" id="name" placeholder="Name" required>
        
        <label for="surname">Surname</label>
        <input type="text" id="surname" placeholder="Surname">
        
        <label for="email">Email*</label>
        <input type="email" id="email" placeholder="Email" required>
        
        <label for="password">Password*</label>
        <input type="password" id="password" placeholder="Password" required>
        
        <button class="btn-signup">Sign up</button>

        <p class="signin-text">Already have an account? <a href="#">Sign in</a></p>
    </div>
</div>
